:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta: hsl(289, 100%, 72%);
  --font: 'Rubik', sans-serif;
}

body {
  font-family: var(--font);
  height: 100vh;
}

.background{
  position: absolute;
  width: 50%;
  height: 60vh;
  background: linear-gradient(to bottom, var(--moderate-violet), var(--light-violet));
  border-bottom-right-radius: 200px;
}

.col.s9.cell {
  position: relative;
  margin-left: 12.495%;
  margin-top: 5%;
  height: 60vh;
  border: 10px solid var(--white);
  border-radius: 35px;
  background-color: var(--light-grayish-violet);
  z-index: 999;
}

.col.s10.center {
  margin-top: 10px;
  margin-left: 8.33%;
}

.header {
  height: 70px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: linear-gradient(to right, var(--moderate-violet), var(--light-magenta));
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.name-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.name-container h5 {
  font-size: 16px;
  margin: 0;
  margin-right: 20px;
}

.name-container p {
  font-size: 12px;
  margin: 0;
  margin-right: 20px;
  color: var(--light-grayish-violet);
}

.chat-container {
  background-color: var(--grayish-blue);
  width: auto;
  max-width: 80%;
  border-radius: 5px;
  color: var(--light-violet);
  font-size: 13px;
}

.chat-container p {
  margin-left: 10px;
}

.chat-container-response {
  width: auto;
  border-radius: 5px;
  font-size: 13px;
  max-width: 80%;
  margin-bottom: 10px;
}

.chat-container-response p {
  margin: 0;
  margin-left: 10px;
}

.chat-container-img {
  display: flex;
  justify-content: space-between;
  width: auto;
  border-radius: 5px;

  margin-bottom: 10px;
}

.chat-container-img img {
  width: 50px;
  height: 50px;
  margin: 5px;
}